In [4]:
# create a list
mylist = []
type(mylist)

list

In [6]:
names = ["Google", "Amazon", "Github"]
names

['Google', 'Amazon', 'Github']

In [9]:
mixed_list = ["Apple", 1.12, 1, 2, 3, 4, True, False]
mixed_list

['Apple', 1.12, 1, 2, 3, 4, True, False]

In [11]:
type(mixed_list)

list

In [16]:
### Accessing List Elements
fruits = ["apple", "banana", "cherry", "kiwi", "gauva"]
fruits

['apple', 'banana', 'cherry', 'kiwi', 'gauva']

In [17]:
print(fruits[0])
print(fruits[2])
print(fruits[3])
print(fruits[4])
print(fruits[-1])

apple
cherry
kiwi
gauva
gauva

In [28]:
print(f"'0 = {fruits[0]}', '1 = {fruits[1]}', '2 = {fruits[2]}', '3 = {fruits[3]}', '4 = {fruits[4]}'")
print(fruits[1:])
print(fruits[1:3])

'0 = apple', '1 = banana', '2 = cherry', '3 = kiwi', '4 = gauva'
['banana', 'cherry', 'kiwi', 'gauva']
['banana', 'cherry']

In [33]:
## Modifying The List Elements
fruits[0] = "Mango"

In [35]:
fruits

['Mango', 'banana', 'cherry', 'kiwi', 'gauva']

In [92]:
# Reset fruits
fruits = ["apple", "banana", "cherry", "kiwi", "gauva"]
fruits

['apple', 'banana', 'cherry', 'kiwi', 'gauva']

In [93]:
# List Methods

fruits.append("orange") # Add an item to the end
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [94]:
fruits.insert(3, "watermelon") # '.insert(index_no, "item_name")'
fruits

['apple', 'banana', 'cherry', 'watermelon', 'kiwi', 'gauva', 'orange']

In [95]:
fruits.remove("watermelon") # Removing the first occurance of an item
fruits

['apple', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [96]:
## Remove and return the last element
poped_fruits = fruits.pop()
print(poped_fruits)
print(fruits)

orange
['apple', 'banana', 'cherry', 'kiwi', 'gauva']

In [97]:
index = fruits.index("kiwi")
print(index)

3

In [98]:
fruits.insert(3, "banana")
print(fruits.count("banana"))
print(fruits)

2
['apple', 'banana', 'cherry', 'banana', 'kiwi', 'gauva']

In [99]:
fruits.sort() ## Sorts the list in ascending order (A-Z)

In [101]:
fruits

['apple', 'banana', 'banana', 'cherry', 'gauva', 'kiwi']

In [102]:
fruits.reverse() #Reverse the list (Z-A)

In [105]:
fruits

['kiwi', 'gauva', 'cherry', 'banana', 'banana', 'apple']

In [106]:
fruits.clear() ## Remove all items from the list
print(fruits)

[]

In [108]:
## Slicing list

In [111]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [114]:
print(numbers[::]) # All the elements
print(numbers[::1]) # [::step_size]
print(numbers[::2])
print(numbers[::3])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]

In [116]:
print(numbers[::])
print(numbers[::-1])
print(numbers[::-2])
print(numbers[::-3])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 8, 6, 4, 2]
[10, 7, 4, 1]

In [117]:
### Iterating over list

In [118]:
for number in numbers:
  print(number)

1
2
3
4
5
6
7
8
9
10

In [129]:
## Iterating with index
for index,number in enumerate(numbers):
  print(index, number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [133]:
# list comprehension
lst = []
for x in range(10):
  lst.append(x**2)
  # print(x)
  # print(lst)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [136]:
[x**2 for x in range(10)] # list comprehension

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [149]:
# list comprehension
# Basic Syantax             [expression for item in iterable]
# With Conditional Logic    [ expression for item in iterable if condition]
# Nested List Comprehension [expression for item_1 in iterable_1 for item_2 in iterable_2]

In [139]:
## Basic list comprehension
sqaure = [num**2 for num in range(10)]
print(sqaure)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [145]:
## List comprehension with condition
lst = []
for i in range(10):
  if i%2==0:
    lst.append(i)
print(lst)

[0, 2, 4, 6, 8]

In [148]:
even_numbers = [num for num in range(10) if num%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [151]:
# Nested List Comprehension

lst_1 = [1, 2, 3, 4, 5,]
lst_2 = ['a', 'b', 'c', 'd', 'e']

pair = [[i,j] for i in lst_1 for j in lst_2]

print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [1, 'e'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [2, 'e'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [3, 'e'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd'], [4, 'e'], [5, 'a'], [5, 'b'], [5, 'c'], [5, 'd'], [5, 'e']]

In [152]:
# List comprehension with function calls

words = ["hello", "world", "python", "list", "comprehension"]
lenghts = [len(word) for word in words]
print(lenghts)

[5, 5, 6, 4, 13]